<% provide(:title, t("stories.index.title")) %>

<h1 class="mb-4"><%= t("stories.index.title") %></h1>

<p><%= t("stories.index.description") %></p>

<%= form_with url: stories_path, method: :get, scope: :filter, local: true, class: "stories-filter" do |f| %>
  <div class="stories-filter-grid">
    <div class="stories-filter-field">
      <%= f.label :q, t("stories.index.keyword_label") %>
      <%= f.search_field :q, value: @filter_params[:q], placeholder: t("stories.index.keyword_placeholder"), class: "stories-filter-input" %>
    </div>

    <div class="stories-filter-field">
      <%= f.label :story_type, t("stories.index.story_type_label") %>
      <%= f.select :story_type,
                   options_for_select(@available_story_types, @filter_params[:story_type]),
                   { include_blank: t("stories.index.no_selection") },
                   class: "stories-filter-input" %>
    </div>

    <div class="stories-filter-field">
      <%= f.label :current_state, t("stories.index.state_label") %>
      <%= f.select :current_state,
                   options_for_select(@available_states, @filter_params[:current_state]),
                   { include_blank: t("stories.index.no_selection") },
                   class: "stories-filter-input" %>
    </div>

    <div class="stories-filter-field">
      <%= f.label :priority, t("stories.index.priority_label") %>
      <%= f.select :priority,
                   options_for_select(@available_priorities, @filter_params[:priority]),
                   { include_blank: t("stories.index.no_selection") },
                   class: "stories-filter-input" %>
    </div>

    <div class="stories-filter-field">
      <%= f.label :labels, t("stories.index.labels_label") %>
      <%= f.select :labels,
                   options_for_select(@available_labels, @filter_params[:labels]),
                   {},
                   multiple: true,
                   size: 4,
                   class: "stories-filter-input" %>
    </div>

    <div class="stories-filter-field">
      <%= f.label :owners, t("stories.index.owners_label") %>
      <%= f.select :owners,
                   options_for_select(@available_owners, @filter_params[:owners]),
                   {},
                   multiple: true,
                   size: 4,
                   class: "stories-filter-input" %>
    </div>

    <div class="stories-filter-field">
      <%= f.label :created_from, t("stories.index.created_from_label") %>
      <%= f.date_field :created_from, value: @filter_params[:created_from], class: "stories-filter-input" %>
    </div>

    <div class="stories-filter-field">
      <%= f.label :created_to, t("stories.index.created_to_label") %>
      <%= f.date_field :created_to, value: @filter_params[:created_to], class: "stories-filter-input" %>
    </div>

    <div class="stories-filter-field">
      <%= f.label :accepted_from, t("stories.index.accepted_from_label") %>
      <%= f.date_field :accepted_from, value: @filter_params[:accepted_from], class: "stories-filter-input" %>
    </div>

    <div class="stories-filter-field">
      <%= f.label :accepted_to, t("stories.index.accepted_to_label") %>
      <%= f.date_field :accepted_to, value: @filter_params[:accepted_to], class: "stories-filter-input" %>
    </div>
  </div>

  <div class="stories-filter-actions">
    <%= f.submit t("stories.index.submit"), class: "stories-filter-submit" %>
    <%= link_to t("stories.index.reset"), stories_path, class: "stories-filter-reset" %>
  </div>
<% end %>

<div class="stories-layout">
  <section class="stories-list">
    <%= render "list_frame", stories: @stories, next_page: @next_page, filter_params: @filter_params %>
  </section>

  <aside class="stories-detail">
    <%= turbo_frame_tag "story_detail" do %>
      <p class="story-detail-placeholder">
        <%= t("stories.index.placeholder_detail") %>
      </p>
    <% end %>
  </aside>
</div>
